.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.login-form {
    height: 12rem;
    width: 25rem;
    background-color: #333;
    color: #f2f2f2;
    padding: 1rem;
    border: solid #04AA6D;
}

.email-input {
    display: grid;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.password-input {
    display: grid;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login-button {
    width: 10rem;
}

.login-button-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
