button {
    margin:.75rem;
}

.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    z-index: 9999;
    display: none;
}

.bolt-icon {
    font-size: 2.5rem;
    font-weight: bolder;
}

.resume-form {
    padding: 3rem;
    padding-top:0;
}

.add-button {
    padding-bottom: .25rem;
}

.input-field {
    padding-top: .2rem;
}

.list-remove.button{
    padding:.5rem;
    padding-left:1rem;
}
.collapse-button {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: .25rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    margin:.1rem;
}

.open,
.collapse-button:hover {
    background-color: #555;
}

.form-entry {
    padding: 1rem;
}

.collapsible-element {
    padding: 0 18px;
    padding-bottom: 1rem;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom:.15rem;
}

/* Prototypes live here */
footer {
    display: none;
}
